body{
    background-color: rgba(219, 219, 219, 0.21) !important;
}
.header {
    background-color: #0073C5;
    height: 130px;
    position: relative;
    z-index: 3;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
.topbuffer{
    margin-top: 20px;
}
span.brand{
    color: #fff;
}
span.padded{
     padding: 1%;
}
span.flright{
    float:right;
}
.outershadow{
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
.collapse-card__heading:hover {
    background-color: #0073C5;
    color: #fff;
}
.collapse-card.active {
    background-color: #003E9B;
    color: #fff;
}
.listitems li{
    list-style-type: none;
    text-transform: capitalize;
}